[
    {
        "id": "akamai_property:prp_634530",
        "name": "common.example.com_pm",
        "origin_count": 2,
        "edge_host_count": 2,
        "edge_hosts": [
            {
                "name": "common1.edgehost.example.com"
            },
            {
                "name": "common1.example.com"
            },
            {
                "name": "common2.edgehost.example.com"
            }
        ],
        "origins": [
            {
                "name": "common1.origin.api.example.com"
            },
            {
                "name": "common2.origin.api.example.com"
            }
        ]
    },
    {
        "id": "akamai_property:prp_35271",
        "name": "download.esd.example.com_DSD_PM",
        "origin_count": 5,
        "edge_host_count": 3,
        "edge_hosts": [
            {
                "name": "downloadpatch.esd.example.com"
            },
            {
                "name": "devpt.esd.example.com"
            },
            {
                "name": "download.esd.example.com"
            }
        ],
        "origins": [
            {
                "name": "esd-ssz-prd-lvdc.platform.example.com"
            },
            {
                "name": "spcesd.api.example.com"
            },
            {
                "name": "spcesd-prf.api.example.com"
            },
            {
                "name": "spcesd-e2e.api.example.com"
            },
            {
                "name": "spcesd-qal.api.example.com"
            }
        ]
    },
    {
        "id": "akamai_property:prp_3649",
        "name": "assets.cdn.net",
        "origin_count": 1,
        "edge_host_count": 1,
        "edge_hosts": [
            {
                "name": "assets.cdn.net"
            }
        ],
        "origins": [
            {
                "name": "s3-us-west-2.amazonaws.com"
            }
        ]
    },
    {
        "id": "akamai_property:prp_356208",
        "name": "plugin-appfabric.example.com",
        "origin_count": 2,
        "edge_host_count": 2,
        "edge_hosts": [
            {
                "name": "plugin.cdn.net"
            },
            {
                "name": "uiclassic.cdn.net"
            }
        ],
        "origins": [
            {
                "name": "s3-us-west-2.amazonaws.com"
            },
            {
                "name": "uxfabric.cdn.net"
            }
        ]
    }
]
