[
    {
        "hostname": "hola.example.com.mx",
        "policyName": "MainStreetCorporationMexico",
        "policyId": "MSM_111111"
    },
    {
        "hostname": "common1.edgehost.example.com",
        "policyName": "AAGSites",
        "policyId": "AAG_222222"
    },
    {
        "hostname": "www.example.com",
        "policyName": "MainStreetCorporationCanada",
        "policyId": "MSC_333333"
    }
]
