[
    {
        "storageGroupId": 1234568,
        "storageGroupName": "aka_storage",
        "domainPrefix": "akastorage",
        "estimatedUsageGB": 0,
        "uploadDomains": {
            "ftp": "akastorage.ftp.upload.akamai.com",
            "sftp": "akastorage.sftp.upload.akamai.com",
            "scp": "akastorage.scp.upload.akamai.com",
            "rsync": "akastorage.rsync.upload.akamai.com",
            "ssh": "akastorage.ssh.upload.akamai.com",
            "aspera": "akastorage.aspera.upload.akamai.com",
            "http": "akastorage-nsu.upload.akamai.com"
        }
    }
]