[
    {
        "id": 1111,
        "productionSlots": [
            1234
        ],
        "ra": "symantec",
        "networkConfiguration": {
            "geography": "core",
            "secureNetwork": "enhanced-tls",
            "mustHaveCiphers": "ak-akamai-default",
            "preferredCiphers": "ak-akamai-default",
            "disallowedTlsVersions": [
                "TLSv1_1",
                "TLSv1"
            ],
            "sniOnly": false,
            "quicEnabled": false,
            "dnsNameSettings": null,
            "ocspStapling": "on",
            "clientMutualAuthentication": null
        },
        "csr": {
            "cn": "*.example.com",
            "c": "US",
            "st": "CA",
            "l": "San Diego",
            "o": "Example Inc.",
            "ou": null,
            "sans": [],
            "preferredTrustChain": null
        },
        "expiry": "2024-05-13T23:59:59Z"
    },
    {
        "id": 22222,
        "productionSlots": [
            5678
        ],
        "ra": "symantec",
        "networkConfiguration": {
            "geography": "core",
            "secureNetwork": "enhanced-tls",
            "mustHaveCiphers": "ak-akamai-default",
            "preferredCiphers": "ak-akamai-default",
            "disallowedTlsVersions": [],
            "sniOnly": false,
            "quicEnabled": false,
            "dnsNameSettings": null,
            "ocspStapling": "on",
            "clientMutualAuthentication": null
        },
        "csr": {
            "cn": "*.domain.com",
            "c": "US",
            "st": "CA",
            "l": "San Diego",
            "o": "Example Inc.",
            "ou": null,
            "sans": [],
            "preferredTrustChain": null
        },
        "expiry": "2023-09-12T23:59:59Z"
    },
    {
        "id": 3333,
        "productionSlots": [
            8765
        ],
        "ra": "geotrust",
        "networkConfiguration": {
            "geography": "core",
            "secureNetwork": "enhanced-tls",
            "mustHaveCiphers": "ak-akamai-2018q3",
            "preferredCiphers": "ak-akamai-2018q3",
            "disallowedTlsVersions": [
                "TLSv1_1",
                "TLSv1"
            ],
            "sniOnly": false,
            "quicEnabled": false,
            "dnsNameSettings": null,
            "ocspStapling": "off",
            "clientMutualAuthentication": null
        },
        "csr": {
            "cn": "www.company.com",
            "c": "US",
            "st": "CA",
            "l": "Mountain View",
            "o": "Example Inc.",
            "ou": null,
            "sans": [
                "www.company.com",
                "api.company.com",
                "content.company.com",
                "search.company.com"
            ],
            "preferredTrustChain": null
        },
        "expiry": "2024-01-25T23:59:59Z"
    }
]